@layer reset, base, tokens, recipes, utilities;

@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan.woff2') format('woff2');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}


:root {
  --font-display: 'Recoleta', sans-serif;
  --font-body: 'Outfit', sans-serif;
  --navbarBottom: 160px;
}

@media (min-width: 0px) {
  :root {
    --navbarBottom: 80px;
  }
}

@media (min-width: 640px) {
  :root {
    --navbarBottom: 77px;
  }
}

@media (min-width: 768px) {
  :root {
    --navbarBottom: 148px;
  }
}

@media (min-width: 1024px) {
  :root {
    --navbarBottom: 153px;
  }
}
